

.checker {
    width: 100%;
    height: 100%;
}

html {
    background-color: black;
}

#maybeforms {
    padding: 2%;
}

h1 {
  color: white;
}

.survey-links a {
  color: #00FF00;
}

input {
  background-color: white;
}

#guessin {
  text-align: center;

}

#guessin a {
  color: #FA6708;
  font-size: 4em;
}

.brodown {
  text-align: center;
}
