<form action='/signup' method='post' id='signup'>
  <input type='text' name='username' placeholder='USERNAME'>
  <input type='email' name'email' placeholder='EMAIL'>
  <input type='password' name='password' placeholder='PASSWORD'>
  <input type='submit' name='SIGN UP'>
</form>



<form action='/login' method='post' id='login'>
  <input type='email' name'email' placeholder='EMAIL'>
  <input type='password' name='password' placeholder='PASSWORD'>
  <input type='submit' name='LOG IN'>
</form>

