<div class='container'>
  <div class='row'>

    <div class='twelve columns' id='maybeforms'>

<%if session[:errors]%>
  <% session[:errors].each do |error|%>
    <div class="errors"><%= error %></div>
  <% end %>
<% end %>

<% session[:errors] = nil %>

      <form action='/users' method='post' id='signup'>
        <input type='text' name='user[username]' placeholder='USERNAME'>
        <input type='email' name='user[email]' placeholder='EMAIL'>
        <input type='password' name='user[password]' placeholder='PASSWORD'>
        <input type='submit' name='SIGN UP' value="Register yo ass!">
      </form>
    </div>
  </div>
<div class='row'>
    <div class='twelve columns'>
      <img class='checker' src="http://media.giphy.com/media/E87jjnSCANThe/giphy.gif" />
      <h1>When you Life needs Answers</h1>
    </div>
</div>
<div class='row'>
    <div class='two columns' id='maybeforms'>
      <form action='/sessions' method='post' id='login'>
        <input type='email' name='email' placeholder='EMAIL'>
        <input type='password' name='password' placeholder='PASSWORD'>
        <input type='submit' name='LOG IN' value='login'>
      </form>
    </div>
</div>

</div>

